#jspod {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
/* TODO: eigentlich sollte dies nicht notwendig sein! */
#jspod_content {
  position: absolute;
  top: 34px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
#jspod_panels {
  width: 200%;
  height: 100%;
  position: relative;
}
.jspod_panel {
  width: 50%;
  position: absolute;
  overflow-y: auto;
  height: 100%;
}
.jspod_panel_content {
  padding: 20px;
}
#jspod_episode_panel {
  left: 50%;
}
#jspod_episode_panel video {
  max-width: 100%;
  height: auto;
}
#jspod_podcast_panel img {
  width: 300px;
  float: left;
  margin: 0 30px 10px 0;
}
#jspod_podcast_panel li {
  list-style-type: none;
}
#jspod_podcast_panel ul {
  padding: 0;
}
#jspod_header {
  width: 100%;
  height: 32px;
}
#jspod_header a.ui-navbutton-next,
#jspod_header a.ui-navbutton-prev {
  text-decoration: none;
  display: block;
  height: 20px;
  padding: 4px;
}
#jspod_header a.ui-navbutton-next span,
#jspod_header a.ui-navbutton-prev span {
  display: inline-block;
  vertical-align: middle;
}
#jspod_header .ui-navbutton-prev {
  float: left;
}
#jspod_header .ui-navbutton-next {
  float: right;
}
